/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
body * {
    font-family: 'Open Sans', sans-serif;
    color: #393d41;
    font-size: 1.2rem;
    line-height: 1.65;

}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
}

.i {
        color: #fff;
        font-style: italic;

}

.mt-1 {
    margin-top: 2rem;
    color: #fff;

}

.fw-bold {
    font-weight: bold;
}

.fs-title {
    font-size: 35px;
}

.text-small {
    font-size: 15px;
    color: #fff;

}

.text-center h1 {
    font-weight: bold;  
    line-height: 100%;
}

.text-center p {
    margin-top: 10px;
}

.img-container{
    background-color: #000;
    padding: 25px;
    text-align: center;
    
}

.img-header {
    width: 100px;
    justify-content: center;
} 

.img-bg{
    margin: 0 0 0 0;
    background-image: url("/assets/banner.jpg") ;
    background-position: center;
    background-size: 100%;
    padding: 60px 20px; 
}

.img-load {
    display: flex;
    justify-content: center;

}

.img-space {
    border-radius: 50%;
    margin-top: 3rem;
    width: 300px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button{
    background-color: #f04c2f;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 10rem;
}
.text-center {
    text-align: center;
}

.hot {
    background-color: #e22d0e;
    text-align: center;
    padding: 20px;

}
.contacts {
    background-color: rgb(11, 201, 227);
}
.cn {
    background-color: rgb(255, 100, 0);
}
.img-bg h1 {
    font-size: 30px;
    color: rgb(2, 146, 184);
}

.great {
    margin-top: 3rem;
}
.great h3 {
    color: rgb(2, 146, 184);
    text-align: center;
}
.great p {
    text-align: center;
}
.feat h3 {
    color: rgb(2, 146, 184);
    text-align: center;
}
.feat p {
    text-align: center;
}

.shit {
    padding: 2em 2em;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.img-card-container{
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid #dee1e3;
    border-radius: 5px;
}

.card-body {
    padding: 10px;
}

.card-body p {
    margin-top: 10px;
}

.footer {
    background-color: #25a2c3;
    text-align: center;
}

.footer h1{
 color: white;
 text-align: center;
 padding: 15px;
}

.footer a{
    color: #c8e7f0;
    text-align: center;
}

.footer p{
    color: #c8e7f0;
    text-align: center;
}

.line-container {
    display: flex;
    justify-content: center;
}

.line{
    border-bottom: 1px solid white;
    padding: 15px;
    height: 1px;
    width: 50%;
}
p i{
    color: white;
}
